<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationInfo</key>
	<dict>
		<key>BASE_URL</key>
		<string>$(BASE_URL)</string>
		<key>FACEBOOK_PLACEMENT_ID</key>
		<string>$(FACEBOOK_PLACEMENT_ID)</string>
		<key>LINK_ABOUT_US</key>
		<string>$(LINK_ABOUT_US)</string>
		<key>LINK_FAQ</key>
		<string>$(LINK_FAQ)</string>
		<key>LINK_PRIVACY</key>
		<string>$(LINK_PRIVACY)</string>
		<key>LINK_TERMS_CONDITIONS</key>
		<string>$(LINK_TERMS_CONDITIONS)</string>
		<key>PARSE_APPLICATION_ID</key>
		<string>$(PARSE_APPLICATION_ID)</string>
		<key>PARSE_CLIENT_ID</key>
		<string>$(PARSE_CLIENT_ID)</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(APPNAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb$(FACEBOOK_APP_ID)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.nt.tappas</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Tappas</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>ca12dafc1acd97e0c50cb0bbc4ab0f084ff48712</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>MoPub</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>$(FACEBOOK_APP_ID)</string>
	<key>FacebookDisplayName</key>
	<string>$(FACEBOOK_DISPLAY_NAME)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.lifestyle</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your location</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.otf</string>
		<string>zocial-regular-webfont.ttf</string>
		<string>foundation-icons.ttf</string>
		<string>ionicons.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
